.header-bar {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background-color: #333;
  height: 175px;
}

.image-container {
  width: 25%;
  text-align: center;
}

.image-container img {
  max-width: 150px;
  height: 150px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  /* margin-right: 25%; */
}

.header-button {
  background-color: #888;
  border: none;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s ease;
  margin: 0 10px;
  color: white;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.header-button:hover {
  background-color: #aaa;
}

.sidebarcontainer{
  display: flex;
  width: 100%;
}

.friends{
  width: 25%;
  background-color: #3c3c3c;;
  height: 800px;
}

.bigscreen{
  flex: 1;
  width: 75%;
  background-color: #424242;
  text-align: center;
}

.logincontainerall{
  background-color: #424242;
  padding: 20px;
  text-align: center;
  width: 75%;
}

.loginInput{
  background-color: #555;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 50%;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 100%;
}

.loginButton{
  background-color: #ff0058;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 80%;
  max-width: 400px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 150%;
  margin-top: 20px;
  cursor: pointer;
}

.loginButton:hover{
  background-color: #ff74a4;
}

.loginLabel {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 150%;
}

h1{
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

h3{
  color: #ff0058;
}

h3:hover {
  text-decoration: underline;
  cursor: pointer;
}

.signupErrors{
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;;
}

.profile-button {
  background-color: #ff0058;
  border: none;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  border-radius: 0;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: white;
  width: 100%;
}

.profile-button:hover{
  background-color: #ff74a4;
}

.profileContainer{
  width: 25%;
  background-color: #3c3c3c;;
  display: flex;
  align-items: center;
  height: 815px;
  flex-direction: column;
  justify-content: space-between;
}

.upper50{
  height: 50%;
  margin-left: 20%;
  margin-right: 20%;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  display: flex;
  align-items: center;
}

.friendcontainer{
  width: 75%;
  background-color: #424242;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.friend{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.friend:hover {
  background-color: #4d4d4d;
}

.friendbox{
  float:left;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: white;
  width: 50%;
}

.friendbox_button{
  background-color: #da0c54;
  border: none;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  border-radius: 0;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: white;
  float:left;
  justify-content: space-between;
  width: 15%;
}

.friendbox_button:hover{
  background-color: #ff74a4;
}

.profileBottom{
  background-color: #333;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 16px;
  width: 100%;
  text-align: center;
  height: 25%;
  justify-content: space-around;
}

.upper75{
  height: 75%;
  margin-left: 20%;
  margin-right: 20%;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  display: flex;
  align-items: center;
}